@use "../../styles/breakpoints" as *;

.dropdown {
  width: 100%;
  text-align: center;
}

.MuiList-root {
  height: 10rem;
}

@include desktop {
  .dropdown {
    display: none;
  }
}
