@use "../../styles/breakpoints" as *;

.card {
  width: 10rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0;
  border-radius: 8px;
  overflow: hidden;

  &__image {
    height: 50%;
    border-radius: 8px;
  }

  &__name {
    height: 4rem;
    text-align: c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1rem;
  }
}

//MUI Modal Style override
.modal {
  width: 100%;
  padding: 2rem;

  &__top {
    display: flex;
  }

  &__image {
    width: 100%;
    padding: 1rem;
  }
}

.MuiModal-backdrop {
  background-color: white;
}

.MuiModal-root {
  overflow: scroll;
}

@include tablet {
  .card {
    margin: 1rem;
  }
  .modal {
    background-color: #e0e1dd;
    display: flex;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    border-radius: 12px;

    &__image {
      height: fit-content;
      width: fit-content;
    }

    &__text {
      flex: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 1rem;
    }

    &__heading {
      font-size: 1.5rem;
    }

    &__body {
      font-size: 1.25rem;
    }
  }

  .MuiModal-backdrop {
    background-color: transparent;
  }

  .MuiModal-root {
    display: flex;
  }
}
