.card {
  width: 8rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0;
  border-radius: 8px;
  overflow: hidden;

  &__image {
    height: 50%;
    border-radius: 8px;
  }

  &__name {
    height: 4rem;
    text-align: c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1rem;
  }
}

.modal {
  width: 100%;
  height: fit-content;
  padding: 2rem;

  &__top {
    display: flex;
  }

  &__image {
    width: 100%;
    padding: 1rem;
  }
}

.MuiModal-backdrop {
  background-color: white;
}
